<div class="container pb-5 mb-2 mb-md-4">
  <div class="bg-light shadow-lg rounded-3 mb-4">
    <div class="d-flex">
      <div class="w-100">
        <div class="input-group ms-2 pe-sm-3">
          <input
            class="form-control bg-transparent rounded-0 border-0 shadow-none ps-5 py-4"
            type="text"
            placeholder="Search Books"
            [(ngModel)]="bookPaginationInfo.searchText"
            (keyup.enter)="searchBooksInfo()"
          />
          <button
            type="button"
            class="btn btn-link"
            (click)="searchBooksInfo()"
          >
            Search
          </button>
          <button
            type="button"
            class="btn btn-link"
            (click)="bookPaginationInfo.searchText = ''; searchBooksInfo()"
          >
            Clear
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-end">
    <button
      class="btn btn-outline-primary"
      routerLink="/app/book/new"
      *ngIf="isAdmin"
    >
      Add Book
    </button>
  </div>

  <div
    class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 gy-sm-4 gy-3 pt-lg-4 pt-2"
  >
    <div class="col mb-2" *ngFor="let book of books">
      <article class="card h-100 border-0 shadow">
        <div class="card-body">
          <div class="d-flex align-items-center flex-wrap">
            <h5 class="mt-1 mb-0 fs-base text-darker">{{ book.name }}</h5>
          </div>
          <div>
            <span class="fs-sm text-muted">{{ book.author }}</span>
          </div>
          <div>
            <span class="fs-sm text-muted">{{ book.description }}</span>
          </div>
          <div>
            <span class="fs-sm">ISBN: {{ book.ISBN }}</span>
          </div>
        </div>
        <div class="card-footer mt-n1 py-0 border-0">
          <div
            class="d-flex align-items-center position-relative mb-1 py-3 border-top justify-content-between"
          >
            <div>
              <button
                type="button"
                class="btn btn-primary"
                [routerLink]="'/app/book/' + book.id"
              >
                {{ isAdmin ? "Details" : "Reserve" }}
              </button>
            </div>
            <div *ngIf="isAdmin">
              <button
                type="button"
                class="btn btn-outline-danger"
                (click)="inactivateBook(book.id)"
              >
                Delete
              </button>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
  <hr class="mt-4 mb-3" />

  <div class="d-flex justify-content-center">
    <ngb-pagination
      [collectionSize]="bookPaginationInfo.itemCount"
      [(page)]="bookPaginationInfo.page"
      [pageSize]="bookPaginationInfo.take"
      [rotate]="true"
      [boundaryLinks]="true"
      (pageChange)="handlePageChange($event)"
    />
  </div>
</div>

<div class="overlay-spinner" *ngIf="bookSearchInProgress">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only"></span>
  </div>
</div>
